 <%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>献立を作る</h2>

      <div class="container-full">
        <div class="gutters row inner-30">
          <div class="col col-20">
            <div class="edit-recipe-title-container">
              <div class="sp-head "> <i class="icon-s icon-pencil"></i>献立のタイトルを入力</div>
              <div class="edit-area">
               <!-- <form action="#"> -->
                 <!-- <input type="text" class="edit-field edit-recipe-title" placeholder="献立のタイトルを入力"> -->
                 <%= f.text_field :name, class:'edit-field edit-recipe-title', placeholder:'献立のタイトルを入力' %>
             <!--   </form>
 -->             </div>

           </div>
         </div>
       </div>

       <div class="gutters row inner-30 pb-30">
        <div class="col col-13 menu-img">
          <div class="sp-head"><i class="icon-s icon-image"></i>
            献立の写真</div>
            <div class="edit-recipe-img-container">
              <!-- <div class="edit-recipe-img edit-menu">
                <form action="" class="form-recipe-img">
                  <input type="file" class="uploader-recipe-img">
                </form>
              </div>
 -->
              <div class="centering">
                <div class="edit-recipe-img-typetext imgInput">
                  <i class="icon-s icon-camera"></i>
                  <!-- <span class="border-b">写真を変更する</span>
                  <form action="" class="form-recipe-img">
                    <input type="file" class="uploader-recipe-img-typetext">
                  </form> -->
 
                   <%= f.file_field :image %>
                   <%= image_tag("no_image.png", :class => "imgView") %>
                </div>
              </div>
            </div>
          </div>

          <div class="col col-11">
            <div class="edit-recipe-copy">
              <div class="sp-head edit-label">
                <i class="icon-s icon-star"></i>
                この献立のポイント
              </div>

              <div class="edit-area">
                <p>あと60文字</p>
                <!-- <form action="#" >
                  <textarea class="edit-field" rows="2" cols="30" name="value" placeholder="選択してポイントを編集する"></textarea>
                  
                </form> -->
                <%= f.text_field :point, class:'edit-field', placeholder:'選択してポイントを編集する', rows:'2', cols:'30' %>
                  <br>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="gutters row inner-30 pt-30 pb-30 menu-items-container">

           <div class="sp-head "> <i class="icon-s icon-pencil"></i>主菜は１つ、副菜は２つ必ず選択してください</div><br>

          <ul class="select-menu-items menu-items">
            <li class="menu-item col col-8">
              <div class="menu-role main">
                <!-- <img src="images/main-icon.png" alt="" class="role-icon"> -->
                <%= image_tag("main-icon.png" ,:alt => "" ,:class => "role-icon") %>
                主菜
              </div>
              <!-- <a href="#select-mainmenu-modal">
                <div class="edit-recipe-img">  
                </div>
              </a> -->
              <!-- <p class="menu-select-text">
                <a href="#select-mainmenu-modal">クリックしてレシピを追加(必須)</a>
              </p> -->
              <% @main_recipes.each do |main_recipe| %>
                <label><%= radio_button_tag :main, main_recipe.id %><%= main_recipe.name %></label><br>
                <%= image_tag main_recipe.image %><br>
              <% end %>
            </li>

            <li class="menu-item col col-8">
              <div class="menu-role sub">
                <!-- <img src="images/sub-icon.png" alt="" class="role-icon"> -->
                <%= image_tag("sub-icon.png" ,:alt => "" ,:class => "role-icon") %>
                副菜
              </div>
              <!-- <a href="#select-submenu-modal">
                <div class="edit-recipe-img">  
                </div>
              </a> -->
              <!-- <p class="menu-select-text">
                <a href="#select-submenu-modal">クリックしてレシピを追加(必須)</a>
              </p> -->
               <% @side_recipes.each do |side_recipe| %>
                 <label><%= radio_button_tag :side1, side_recipe.id %><%= side_recipe.name %></label><br>
                 <%= image_tag side_recipe.image %><br>
               <% end %>
            </li>

            <li class="menu-item col col-8">
              <div class="menu-role sub">
               <%= image_tag("sub-icon.png" ,:alt => "" ,:class => "role-icon") %>
                副菜
              </div>
              <!-- <a href="#select-submenu-modal">
                <div class="edit-recipe-img">  
                </div>
              </a> -->
              <!-- <p class="menu-select-text">
                <a href="#select-submenu-modal">クリックしてレシピを追加(必須)</a>
              </p> -->
               <% @side_recipes.each do |side_recipe| %>
                <label><%= radio_button_tag :side2, side_recipe.id %><%= side_recipe.name %></label><br>
                <%= image_tag side_recipe.image %><br>
               <% end %>
            </li>

          </ul>
              <hr>
              <br>
              <div class="sp-head "> <i class="icon-s icon-pencil"></i>献立カテゴリの選択</div><br>

              <div>
                <label><%= f.radio_button :category, 1, {:checked => true} %>カロリー表示あり</label>
                <label><%= f.radio_button :category, 2 %>糖質制限食 </label>
                <label><%= f.radio_button :category, 3 %>HbA1c、血糖値の安定 </label>
                <label><%= f.radio_button :category, 4 %>味に自信あり </label>
                <label><%= f.radio_button :category, 5 %>すぐできるメニュー</label>

              </div>

        </div>

          <!-- <ul class="pc-off select-menu-items">
            <li class="select-menu-item">
              <div class="gutters row"> 
                <div class="col col-xs col-xs-3">
                  <img src="images/menu-main-icon.png" alt="" class="menu-list-icon">
                </div>
              </div>

              <div class="gutters row">
                <div class="col col-xs col-xs-8 menu-img">
                  <a href="#select-menu-modal">
                    <div class="edit-recipe-img">  
                    </div>
                  </a>
                </div>

                <div class="col col-xs col-xs-14 menu-text ">
                  <p class="menu-select-text">
                    <a href="#select-menu-modal">クリックしてレシピを追加(必須)</a>
                  </p>
                </div>
              </div>
            </li>

            <li class="select-menu-item">
              <div class="gutters row"> 
                <div class="col col-xs col-xs-3">
                  <img src="images/menu-sub-icon.png" alt="" class="menu-list-icon">
                </div>
              </div>

              <div class="gutters row"> 
                <div class="col col-xs col-xs-8 menu-img">
                  <a href="#select-menu-modal">
                    <div class="edit-recipe-img">  
                    </div>
                  </a>
                </div>

                <div class="col col-xs col-xs-14 menu-text ">
                  <p class="menu-select-text">
                    <a href="#select-menu-modal">クリックしてレシピを追加(必須)</a>
                  </p>
                </div>
              </div>
            </li>

            
          </ul>
        </div> -->
         
        <!-- レシピを選ぶmodal -->
 
　
  <div class="select-mainmenu remodal" data-remodal-id="select-mainmenu-modal">
    <h4 class="select-menu-head">あなたの投稿したレシピ&nbsp;<span class="bold orange">主菜</h4>

    <ul class="select-menu-list-container">
      <li class="gutters row select-menu-list">
        <div class="col col-4 col col-xs-10 menu-img">
          <img src="images/menu-item-1.jpg" class="photo">
        </div>  

        
        <div class="col col-11 col col-xs-13 menu-title">
            <% @main_recipes.each do |main_recipe| %>
              <label><%= radio_button_tag :main, main_recipe.id %><%= main_recipe.name %></label><br>
            <% end %>
        </div>

        <div class="col col-6 menu-select-btn-container">
          <!-- <a href="#" class="menu-select-btn">追加する</a> -->
          <%= link_to "追加する", "", class: 'menu-select-btn' %>
        </div>
       

      </li>
    </ul>
  </div>

  <div class="select-submenu remodal" data-remodal-id="select-submenu-modal">
    <h4 class="select-menu-head">あなたの投稿したレシピ&nbsp;<span class="bold orange">副菜</h4>

    <ul class="select-menu-list-container">
      <li class="gutters row select-menu-list">
        <div class="col col-4 col col-xs-10 menu-img">
          <img src="images/menu-item-1.jpg" class="photo">
        </div>  

        <div class="col col-11 col col-xs-13 menu-title">

          <% @side_recipes.each do |side_recipe| %>
             <label><%= radio_button_tag :side1, side_recipe.id %><%= side_recipe.name %></label><br>
          <% end %>
        </div>

        <div class="col col-6 menu-select-btn-container">
          <a href="#" class="menu-select-btn">追加する</a>
        </div>
      </li>
    </ul>
  </div>


        <!-- レシピを選ぶmodal -->
 

  <div class="select-submenu remodal" data-remodal-id="select-submenu-modal">
    <h4 class="select-menu-head">あなたの投稿したレシピ&nbsp;<span class="bold orange">副菜</h4>

    <ul class="select-menu-list-container">
      <li class="gutters row select-menu-list">
        <div class="col col-4 col col-xs-10 menu-img">
          <img src="images/menu-item-1.jpg" class="photo">
        </div>  

        <div class="col col-11 col col-xs-13 menu-title">

          <% @side_recipes.each do |side_recipe| %>
             <label><%= radio_button_tag :side2, side_recipe.id %><%= side_recipe.name %></label><br>
          <% end %>
        </div>

        <div class="col col-6 menu-select-btn-container">
          <a href="#" class="menu-select-btn">追加する</a>
        </div>
      </li>
    </ul>
  </div>


<div class="centering mt-56 pb-30 create-recipe-btn-container">
          <!-- <a href="#" class="create-recipe-btn">献立を公開する</a> -->

          <%= f.submit "献立を公開する", class: 'create-recipe-btn' %>
</div>

<% end %>



