<li class="gutters row menu">

  <div class="col col-11 col-xs col-xs-11">
    <div class="menu-img">
      <%= link_to menu_path(menu) do %>
      <div class="recommended-image photo" style="background-image: url('<%= menu.image.url(:original) %>');">
      </div>
      <% end %>
    </div>
  </div>

  <div class="col col-13 col-xs col-xs-13">
    <div class="menu-title">
      <%= link_to menu.name, menu_path(menu) %>
    </div>
    <p class="menu-comment">
      <%= menu.point %>
    </p>
    <ul class="menu-list sp-off">
      <li class="author">
        by <%= link_to menu.user.name, user_path(menu.user) %>
      </li>
    </ul>
  </div>
  
</li>