<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>

</head>
<body>

  <div id="wrapper">
    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Header -->


    <div class="contents" id="create-menu-page">
      
      <%= render 'form'%>

        


    </div><!-- contents end-->
  </div><!-- wrapper end-->

  <!-- Footer -->
  <%= render 'layouts/footer' %>
  <!-- Footer -->

  
  <!-- レシピを選ぶmodal -->

　
  <div class="select-mainmenu remodal" data-remodal-id="select-mainmenu-modal">
    <h4 class="select-menu-head">あなたの投稿したレシピ&nbsp;<span class="bold orange">主菜</h4>

    <ul class="select-menu-list-container">
      <li class="gutters row select-menu-list">
        <div class="col col-4 col col-xs-10 menu-img">
          <img src="images/menu-item-1.jpg" class="photo">
        </div>  

        <%= form_for(@menu_recipe) do |f| %>
        <div class="col col-11 col col-xs-13 menu-title">
            <% @main_recipes.each do |main_recipe| %>
              <label><%= f.radio_button :main, main_recipe.id %><%= main_recipe.name %></label><br>
            <% end %>
        </div>

        <div class="col col-6 menu-select-btn-container">
          <!-- <a href="#" class="menu-select-btn">追加する</a> -->
          <%= f.submit "追加する", class: 'menu-select-btn' %>
        </div>
        <% end %>

      </li>
    </ul>
  </div>

  <div class="select-submenu remodal" data-remodal-id="select-submenu-modal">
    <h4 class="select-menu-head">あなたの投稿したレシピ&nbsp;<span class="bold orange">副菜</h4>

    <ul class="select-menu-list-container">
      <li class="gutters row select-menu-list">
        <div class="col col-4 col col-xs-10 menu-img">
          <img src="images/menu-item-1.jpg" class="photo">
        </div>  

        <div class="col col-11 col col-xs-13 menu-title">

          <% @side_recipes.each do |side_recipe| %>
          <%= side_recipe.name %>
          <% end %>
        </div>

        <div class="col col-6 menu-select-btn-container">
          <a href="#" class="menu-select-btn">追加する</a>
        </div>
      </li>
    </ul>
  </div>


  <!-- ログイン登録用のモーダル -->
  <%= render 'layouts/login' %>


  <!-- サイドバー -->
  <%= render 'layouts/sidebar' %>


</body>
</html>

