<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>

 
  <script>
  $(function(){
      var setFileInput = $('.imgInput');
   
      setFileInput.each(function(){
          var selfFile = $(this),
          selfInput = $(this).find('input[type=file]');
   
          selfInput.change(function(){
              var file = $(this).prop('files')[0],
              fileRdr = new FileReader(),
              selfImg = selfFile.find('.imgView');
   
              if(!this.files.length){
                  if(0 < selfImg.size()){
                      selfImg.remove();
                      return;
                  }
              } else {
                  if(file.type.match('image.*')){
                      if(!(0 < selfImg.size())){
                          selfFile.append('<img alt="" class="imgView">');
                      }
                      var prevElm = selfFile.find('.imgView');
                      fileRdr.onload = function() {
                          prevElm.attr('src', fileRdr.result);
                      }
                      fileRdr.readAsDataURL(file);
                  } else {
                      if(0 < selfImg.size()){
                          selfImg.remove();
                          return;
                      }
                  }
              }
          });
      });
  });
  </script>
 
  <script>
  $(function(){
      var setFileInput = $('.imgInput'),
      setFileImg = $('.imgView');
   
      setFileInput.each(function(){
          var selfFile = $(this),
          selfInput = $(this).find('input[type=file]'),
          prevElm = selfFile.find(setFileImg),
          orgPass = prevElm.attr('src');
   
          selfInput.change(function(){
              var file = $(this).prop('files')[0],
              fileRdr = new FileReader();
   
              if (!this.files.length){
                  prevElm.attr('src', orgPass);
                  return;
              } else {
                  if (!file.type.match('image.*')){
                      prevElm.attr('src', orgPass);
                      return;
                  } else {
                      fileRdr.onload = function() {
                          prevElm.attr('src', fileRdr.result);
                      }
                      fileRdr.readAsDataURL(file);
                  }
              }
          });
      });
  });
  </script>

</head>
<body>

  <div id="wrapper">
    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Header -->

    <div class="contents" id="create-menu-page">
      
    <%= render 'form' %>

    </div><!-- contents end-->
    
  </div><!-- wrapper end-->

  <!-- Footer -->
  <%= render 'layouts/footer' %>
  <!-- Footer -->



  <!-- ログイン登録用のモーダル -->
  <%= render 'layouts/login' %>


  <!-- サイドバー -->
  <%= render 'layouts/sidebar' %>


</body>
</html>

