<div class="contents" id="menu-page">
  <h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>献立
    <% if current_user?(@menu.user) %>
    <div class="recipe-edit-btn">
     <%= link_to "献立を編集する", edit_menu_path(@menu) %>
     <%= link_to "献立を削除する", @menu, method: :delete,data: { confirm: "本当に削除しますか?" } %>
   </div>  
   <% end %>
 </h2>

 <div class="container-full">
  <div class="gutters row inner-30">
    <div class="col col-20 col-xs col-xs-17 menu-title-large">
      <%= link_to @menu.name, menu_path(@menu) %> 
    </div>

  </div>

  <div class="gutters row inner-30 pb-30">
    <div class="col col-13 menu-img">
     <!--  <img src="images/menu-1.jpg" alt="menu-img" class="photo"> -->
     <div class="recommended-image photo" style="background-image: url('<%= @menu.image.url(:original) %>');">
     </div>

   </div>

   <div class="col col-11">
    <p class="menu-comment">
      <%= @menu.point %>
    </p>

  </div>
</div>

<hr>

<div class="gutters row inner-30 pt-30 pb-30 menu-items-container"> 


  <ul class="menu-items">
    <li class="menu-item col col-8">
      <div class="sp-off  menu-role main">
        <!-- <img src="images/main-icon.png" alt="" class="role-icon"> -->
        <%= image_tag("main-icon.png", :alt => "", :class => "role-icon")%>主菜
      </div>
      <div class="menu-title">
        <!-- <a href="recipe.html">ゴロゴロお肉のメキシカンスープトマト煮込み</a> -->
        <%= link_to @main_recipe.name, recipe_path(@main_recipe) %>
      </div>
      <div class="menu-img">
        <div class="recommended-image photo" style="background-image: url('<%= @main_recipe.image.url %>');">
        </div>
      </div>
    </li>

    <% @side_recipes.each do |side_recipe| %>

            <li class="menu-item col col-8">
              <div class="sp-off  menu-role main">
                <!-- <img src="images/main-icon.png" alt="" class="role-icon"> -->
                <%= image_tag("main-icon.png", :alt => "", :class => "role-icon")%>副菜
              </div>
              <div class="menu-title">
                <!-- <a href="recipe.html">ゴロゴロお肉のメキシカンスープトマト煮込み</a> -->
                <%= link_to side_recipe.name, recipe_path(side_recipe) %>
              </div>
              <div class="menu-img">
                <!-- <a href="recipe.html">
                  <img src="images/menu-item-1.jpg" alt="" class="photo">
                </a> -->
                <div class="recommended-image photo" style="background-image: url('<%= side_recipe.image.url %>');">
                </div>
              </div>
            </li>

    <% end %>

          </ul>

         <!--  <ul class="pc-off menu-items">
            <li class="menu-item">
              <div class="gutters row"> 
                <div class="col col-xs col-xs-3">
                  <img src="images/menu-main-icon.png" alt="" class="menu-list-icon">
                </div>
                <div class="col col-xs-20 col-xs menu-title">
                  <a href="recipe.html">ゴロゴロお肉のメキシカンスープトマト煮込み</a>
                </div>
              </div>

              <div class="gutters row"> 
                <div class="col col-xs col-xs-8 menu-img">
                  <a href="recipe.html">
                    <img src="images/menu-item-1.jpg" alt="" class="photo">
                  </a>
                </div>

                <div class="col col-xs col-xs-14 menu-text ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolores magni
                </div>
              </div>
            </li>

          </ul> -->
        </div>

        <hr>
<!-- 
        <div class="shopping-list-container inner-30">
          <div class="shopping-list-head inner-30">
            <h3 class="head">買い物リスト</h3>
            <p class="text">1人分の材料になります</p>
          </div>

          <div class="gutters row shopping-lists">
            <div class="col col-11">
              <p class="type">
                野菜・果実類
              </p>
              <ul class="shopping-list">
                <li class="shopping-item">
                  <div class="item-name">パクチー</div>
                  <div class="item-quantity">200g</div>
                </li> -->
                <!-- <li class="shopping-item">
                  <div class="item-name">とうもろこし</div>
                  <div class="item-quantity">50g</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">パプリカ</div>
                  <div class="item-quantity">20g</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">ピーマン</div>
                  <div class="item-quantity">20g</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">ねぎ</div>
                  <div class="item-quantity">10g</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">芽キャベツ</div>
                  <div class="item-quantity">100g</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">エリンギ</div>
                  <div class="item-quantity">100g</div>
                </li> -->
                <!-- </ul> -->
<!-- 
              <p class="type">
                肉類
              </p>
              <ul class="shopping-list">
                <li class="shopping-item">
                  <div class="item-name">鶏むね肉</div>
                  <div class="item-quantity">200g</div>
                </li>
              </ul>

              <p class="type">
                卵・乳製品
              </p>
              <ul class="shopping-list">
                <li class="shopping-item">
                  <div class="item-name">卵</div>
                  <div class="item-quantity">2個</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">牛乳</div>
                  <div class="item-quantity">200ml</div>
                </li>
              </ul>
            </div>

            <div class="col col-11 pull-right">
              <p class="type">
                常備食材
              </p>
              <ul class="shopping-list">
                <li class="shopping-item">
                  <div class="item-name">こしょう</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">粉チーズ</div>
                </li>
                <li class="shopping-item">
                  <div class="item-name">塩</div>
                </li>
              </ul>

            </div> -->
         <!--  </div>
       </div> --><!-- shopping-list-container -->

     </div>
   </div><!-- contents end-->
