<div id="tsukurepo-modal"> 

  <%= form_for(@made_report) do |f| %>

  <div class="col-12 col-xs-15" style="position:absolute;top:20%;left:20%;">
  <h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>作ったよ
  </h2>

  <div class="container-full inner-30">
    <div class="gutters row">
        <div class="col-12　col-xs-12" style="float:left;">
          <div class="sp-head "> <i class="icon-s icon-pencil"></i>コメント(任意)</div>
          <div class="edit-area imgInput">  
            <%= f.text_area :message, class:'edit-field', placeholder:'選択して編集する', cols:'30' %>          
          </div>
        </div>

        <div class="col-12 col-xs-12" style="float:left;">
          <div class="edit-recipe-img-typetext imgInput">
            <%= f.file_field :image %>
            <%= image_tag("no_image.png", :class => "imgView ", :size => "100x100") %>
          </div>
        </div>
    </div>  

    <%= f.hidden_field :recipe_id, :value => @recipe.id %>

    <div class="actions centering mt-56 create-recipe-btn-container" >       
      <%= f.submit "作ったよ", class: 'create-recipe-btn' %>
      <div class="button" id="close-modal"　style="float:right;">
      <span>レシピに戻る</span>
    </div>

    </div>

  </div>
  </div>

<% end %>

</div>
