<%= form_for @made_report, :url => {:action => 'create'} do |f| %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :message, 'メッセージ' %><br>
    <%= f.text_field :message %>
  </div>

  <%= f.hidden_field :recipe_id, :value => @recipe.id %>

  <div class="actions">
    <%= f.submit "つくレポを投稿" %>
  </div>

<% end %>
