<h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>プロフィール編集</h2>



<div class="container-full inner-30">
 <div class="container-full inner-30">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>  

    <% if id == "1" %>
      
    <% end %>
      <div class="gutters row pb-30 pt-30">
        <div class="col col-12 inner">
          <br>
          <div class=" gutters row">
            <div class="col col-20">
              <div class="edit-recipe-title-container">
                <div class="sp-head "> <i class="icon-s icon-pencil"></i>お名前</div>
                <div class="edit-area">  
                  <%= f.text_field :name, class:'edit-field edit-recipe-title', placeholder:'お名前を入力', rows:'2' %>
                </div>
              </div>
            </div>
          </div>

          <br>

          <div class="sp-head"><i class="icon-s icon-image"></i>写真</div>
          <div class="edit-recipe-img-container">    
            <div class="centering">
             <div class="edit-recipe-img-typetext imgInput">
              <%= f.file_field :image %>
              <%= image_tag("no_image.png", :class => "imgView") %>
            </div>
          </div>
        </div>

        <br>

        <div class="sp-head edit-label">
         <i class="icon-s icon-play"></i>&nbsp;メールアドレス
       </div>
       <div class="field">
        <div class="fields">
          <ul class="inner-30 edit-ingredient-container">
           <%= f.email_field :email, autofocus: true, class:'edit-field edit-recipe-title' %>
         </ul>
       </div>  
     </div>
     

     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     <div>メールアドレスを確認しています: <%= resource.unconfirmed_email %></div>
     <% end %>

 <br>
 
 
 <div class="actions centering mt-56 create-recipe-btn-container" >       
  <%= f.submit "プロフィールを変更する", class: 'create-recipe-btn' %>
</div>
</div>

</div> 

<% end %>

<p> <%= button_to "アカウントを消す", registration_path(resource_name), data: { confirm: "本当に消しますか?" }, method: :delete %></p>
<br>

</div>
</div>
