<li class="sidemenu-item menu-sub-title">
          <i class="icon-cutlery"></i>
          レシピカテゴリ
        </li>

        <!-- ひとつのカテゴリ -->
        <li class="sidemenu-item menu-accordion-container">
          <ul>
            <!-- <li class="menu-accordion">
              <a href="menu-recipe.html">
                野菜のおかず
              </a>
              
            </li> -->
            <%= link_to '野菜のおかず', vagetables_path %>
            <!-- <li class="menu-accordion-content">
              <ul>
                <li>
                  <a href="menu-recipe.html">
                    さつまいも
                  </a>
                </li>
                <li>
                  <a href="menu-recipe.html">
                    なす
                  </a>
                </li>
                <li>
                  <a href="menu-recipe.html">
                   かぼちゃ
                 </a>
               </li>
             </ul>
           </li> -->
         </ul>
       </li>
       <!-- ひとつのカテゴリ -->

       <!-- ひとつのカテゴリ -->
       <li class="sidemenu-item menu-accordion-container">
        <ul>
          <!-- <li class="menu-accordion"> -->
            <!-- <a href="menu-recipe.html">
              お肉のおかず
            </a> -->
            <%= link_to 'お肉のおかず', meets_path %>
<!--           </li> -->

          <!-- <li class="menu-accordion-content">
            <ul>
              <li>
                <a href="menu-recipe.html">
                  さつまいも
                </a>
              </li>
              <li>
                <a href="menu-recipe.html">
                  なす
                </a>
              </li>
              <li>
                <a href="menu-recipe.html">
                 かぼちゃ
               </a>
             </li>
           </ul>
         </li> -->
       </ul>
     </li>
     <!-- ひとつのカテゴリ -->

     <!-- ひとつのカテゴリ -->
     <li class="sidemenu-item menu-accordion-container">
      <ul>
        <!-- <li class="menu-accordion">
          <a href="menu-recipe.html">
            魚介のおかず
          </a>
        </li> -->
        <%= link_to '魚介のおかず', fishes_path %>

        <!-- <li class="menu-accordion-content">
          <ul>
            <li>
              <a href="menu-recipe.html">
                さつまいも
              </a>
            </li>
            <li>
              <a href="menu-recipe.html">
                なす
              </a>
            </li>
            <li>
              <a href="menu-recipe.html">
               かぼちゃ
             </a>
           </li>
         </ul>
       </li> -->
     </ul>
   </li>
   <!-- ひとつのカテゴリ -->

   <!-- ひとつのカテゴリ -->
   <li class="sidemenu-item menu-accordion-container">
    <ul>
      <!-- <li class="menu-accordion">
        <a href="menu-recipe.html">
         ご飯物
       </a>
     </li> -->
     <%= link_to 'ごはんもの', rices_path %>

     <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
        </li>
       </ul>
      </li> -->
    </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <!-- <li class="menu-accordion">
      <a href="menu-recipe.html">
        パスタ・グラタン
      </a>
    </li> -->

    <%= link_to 'パスタ・グラタングラタン', pastas_path %>

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <!-- <li class="menu-accordion">
      <a href="menu-recipe.html">
        麺
      </a>
    </li> -->

    <%= link_to '麺', noodles_path %>

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <!-- <li class="menu-accordion">
      <a href="menu-recipe.html">
        サラダ
      </a>
    </li> -->

    <%= link_to 'サラダ', salads_path %>

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <!-- <li class="menu-accordion">
      <a href="menu-recipe.html">
        スープ・汁物
      </a>
    </li> -->

    <%= link_to 'スープ・汁物', soups_path %>

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <!-- <li class="menu-accordion">
      <a href="menu-recipe.html">
        お弁当
      </a>
    </li> -->

    <%= link_to 'お弁当', boxes_path %>

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 </ul>
</li>
<!-- ひとつのカテゴリ -->