<% if recipe.pre_save != 1 %>

<li class="gutters row menu">

  <div class="col col-11 col-xs col-xs-11">
    <div class="menu-img">
      <%= link_to recipe_path(recipe) do %>
      <div class="recommended-image photo" style="background-image: url('<%= recipe.image.url(:original) %>');">
      </div>
      <% end %>
    </div>
  </div>

  <div class="col col-13 col-xs col-xs-13">
    <div class="menu-title">
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <p class="menu-comment">
      <%= recipe.description %>
    </p>
    <div class="author">
      by <%= link_to recipe.user.name, recipe_path(recipe)  %>
    </div>
  </div>
  
</li>

<% end %>