<div class="container recipe-categories-container sp-off">

        <ul class="recipe-categories">
          <!-- <li>
            <a href="menu-recipe.html">
              <img src="/assets/category-icon/yasai.png" alt="野菜のおかず"  class="category-icon">
              野菜のおかず
            </a>
          </li> -->
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/oniku.png" alt="お肉のおかず" class="category-icon">
              お肉のおかず
            </a> -->
            <img src="/assets/category-icon/oniku.png" alt="お肉のおかず" class="category-icon">
            <%= link_to 'お肉のおかず', meets_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/gyokai.png" alt="魚介のおかず" class="category-icon">
              魚介のおかず
            </a> -->
            <img src="/assets/category-icon/gyokai.png" alt="魚介のおかず" class="category-icon">
            <%= link_to '魚介のおかず', fishes_path %>
          </li>

          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/gohanmono.png" alt="ごはんもの"  class="category-icon">
              ごはんもの
            </a> -->
            <img src="/assets/category-icon/gohanmono.png" alt="ごはんもの"  class="category-icon">
            <%= link_to 'ごはんもの', rices_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/pasta.png" alt="パスタ・グラタン" class="category-icon">
              パスタ・グラタン
            </a> -->
            <img src="/assets/category-icon/pasta.png" alt="パスタ・グラタン" class="category-icon">
            <%= link_to 'パスタグラタン', pastas_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/men.png" alt="麺" class="category-icon">
              麺
            </a> -->
            <img src="/assets/category-icon/men.png" alt="麺" class="category-icon">
            <%= link_to '麺', noodles_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/salada.png" alt="サラダ"  class="category-icon">
              サラダ
            </a> -->
            <img src="/assets/category-icon/salada.png" alt="サラダ"  class="category-icon">
            <%= link_to 'サラダ', salads_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/soup.png" alt="スープ・汁物" class="category-icon">
              スープ・汁物
            </a> -->
            <img src="/assets/category-icon/soup.png" alt="スープ・汁物" class="category-icon">
            <%= link_to 'スープ・汁物', soups_path %>
          </li>
          <li>
            <!-- <a href="menu-recipe.html">
              <img src="/assets/category-icon/obento.png" alt="お弁当" class="category-icon">
              お弁当
            </a> -->
            <img src="/assets/category-icon/obento.png" alt="お弁当" class="category-icon">
            <%= link_to 'お弁当', boxes_path %>
          </li>
          <!-- <li>
            <a href="menu-recipe.html">
              <img src="/assets/category-icon/omotenashi.png" alt="おもてなし料理"  class="category-icon">
              おもてなし料理
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
              <img src="/assets/category-icon/okashi.png" alt="お菓子" class="category-icon">
              お菓子
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
              <img src="/assets/category-icon/pan.png" alt="パン" class="category-icon">
              パン
            </a>
          </li> -->

        </ul>
      </div>