<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>

</head>
<body>



  <div id="wrapper">

    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Header -->


    <div class="contents" id="menu-recipe-page">
      <h2 class="title-bar"><i class="title-icon icon-cutlery"></i>
        献立・レシピ一覧</h2>

        <div class="container-full row pt-30">
          <div class="col col-6 sidemenu-container sp-off" id="sidebar-container">
            <ul class="sidemenu" id="sidemenu">
              <li class="sidemenu-item menu-sub-title">
                <i class="icon-list-ul"></i>
                カテゴリから探す
              </li>

              <li class="sidemenu-item">
                <a href="menu-recipe.html">
                 カロリー表示あり
               </a>    
              </li>
              <li class="sidemenu-item">
               <a href="menu-recipe.html">
                 糖質制限食
               </a>    
              </li>
              <li class="sidemenu-item">
               <a href="menu-recipe.html">
                HbA1c、血糖値の安定
               </a>    
              </li>
              <li class="sidemenu-item">
               <a href="menu-recipe.html">
                味に自信あり
               </a>    
              </li>
              <li class="sidemenu-item">
               <a href="menu-recipe.html">
                すぐできるメニュー
               </a>    
              </li>
              <%= render 'recipes/category' %>
            </ul>
          </div>
      

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <a href="#">お弁当</a>
    <span class="page-title-sub">レシピ</span>
    <!-- <span class="count">20件</span> -->
  </div>
  
  <div class="tab-switch-container">
    <ul>
    
      <li class="tab-switch">
        <a href="#recipe-container">
          レシピ
        </a>
      </li>
    </ul>
  </div>

  <div id="tab-box">
 

    <ul class="inner pt-30 tab-container menu-container" id="recipe-container">

      <!-- レシピひとつ分 -->
      <li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <!-- <div class="menu-img">
            <a href="recipe.html">
              <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
            </a>
          </div> -->
        </div>

        <% @boxes.each do |box| %>

            <div class="col col-13 col-xs col-xs-13">
              <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to "@name", recipe_path(box) %>
              </div>

              <p class="menu-comment">
                <%= box.description %>
              </p>

              <div class="author">
                <a href="#">by つくったひと</a>
              </div>

            </div>

        <% end %>    
      <!-- レシピひとつ分 -->
    </ul>
  </div>

</div>
<!-- tab-box -->

</div>

</div><!-- contents end-->
</div><!-- wrapper end-->

<!-- Footer -->
<%= render 'layouts/footer' %>
<!-- Footer -->


<!-- ログイン登録用のモーダル -->
<%= render 'layouts/login' %>


<!-- サイドバー -->
<%= render 'layouts/sidebar'%>

</body>
</html>

