
    <%= render 'recipes/category' %>
      

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <a href="#">おもてなし料理</a>
    <span class="page-title-sub">レシピ</span>
    <!-- <span class="count">20件</span> -->
  </div>
  
  <div class="tab-switch-container">
    <ul>
      <li class="tab-switch tab-active">
        <a href="#menu-container">
          レシピ
        </a>
      </li>
    </ul>
  </div>

  <div id="tab-box">
 

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">

      <!-- レシピひとつ分 -->
       <% @hospitalities.each do |hospitality| %>
      <li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <div class="menu-img">
            <!-- <a href="recipe.html">
              <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
            </a> -->
            <%= link_to recipe_path(hospitality) do %>
                <div class="recommended-image photo" style="background-image: url('<%= hospitality.image.url %>');">
                </div>
            <% end %>
          </div>
        </div>

       

            <div class="col col-13 col-xs col-xs-13">
              <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to hospitality.name, recipe_path(hospitality) %>
              </div>

              <p class="menu-comment">
                <%= hospitality.description %>
              </p>

              <div class="author">
                <!-- <a href="#">by つくったひと</a> -->
                by <%= link_to hospitality.user.name, recipe_path(hospitality)  %>
              </div>

            </div>
          </li>
        <% end %>    
      <!-- レシピひとつ分 -->
    </ul>
  </div>

</div>
<!-- tab-box -->

</div>

</div><!-- contents end-->
