
<%= render 'recipes/category' %>

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <span class="page-title-sub">レシピ検索一覧</span>
    <!-- <span class="page-title-sub">献立・レシピ</span> -->
    <!-- <span class="count">20件</span> -->
  </div>
  <!-- 
    <div class="tab-switch-container">
      <ul>
        <li class="tab-switch tab-active">
          <a href="#menu-container">
            献立
          </a>
        </li>
        <li class="tab-switch">
          <a href="#recipe-container">
            レシピ
          </a>
        </li>
      </ul>
    </div>
  -->
  <div id="tab-box">

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">

      <!-- レシピひとつ分 -->
      <% @recipes.each do |recipe| %>

      <li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <div class="menu-img">
            <!-- <a href="recipe.html">
              <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
            </a> -->
            <%= image_tag(recipe.image, :alt => "", :class =>"photo") %>
          </div>
        </div>

        
        <div class="col col-13 col-xs col-xs-13">
         <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to recipe.name, recipe %>
              </div>

              <p class="menu-comment">
                <%= recipe.description %>
              </p>

              <div class="author">
                <!--  <a href="#">by つくったひと</a> -->
                <%= link_to recipe.user.name, user_path(recipe.user) %>
              </div>

            </div>

          </li>

          <% end %>    
          <!-- レシピひとつ分 -->
        </ul>
      </div>

    </div>
    <!-- tab-box -->

  </div>

</div><!-- contents end-->


