
<%= render 'recipes/category' %>

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <span class="page-title-sub"><%= Recipe.kinds[@recipe_kind]%>レシピ</span>
    <!-- <span class="count">20件</span> -->
  </div>
  
  <div class="tab-switch-container">
    <ul>
      <li class="tab-switch tab-active">
        <a href="#menu-container">
          レシピ
        </a>
      </li>
    </ul>
  </div>

  <div id="tab-box">
   

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">

      <!-- レシピひとつ分 -->
      <% @kinds.each do |box| %>
      <li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <div class="menu-img">
            <!-- <a href="recipe.html">
              <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
            </a> -->
            
            <%= link_to recipe_path(box) do %>
            <div class="recommended-image photo" style="background-image: url('<%= box.image.url(:original) %>');">
            </div>
            <% end %>
          </div>
        </div>

        

        <div class="col col-13 col-xs col-xs-13">
          <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to box.name, recipe_path(box) %>
              </div>

              <p class="menu-comment">
                <%= box.description %>
              </p>

              <div class="author">
                <!-- <a href="#">by つくったひと</a> -->
                by <%= link_to box.user.name, recipe_path(box)  %>
              </div>

            </div>
          </li>
          <% end %>    
          <!-- レシピひとつ分 -->
        </ul>
      </div>

    </div>
<!-- tab-box -->