<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/jquery.sticky.js"></script>
  <script src="scripts/main.js"></script>

  <script type="text/javascript">
    $(function(){
      // mypageのheader
      $("#sticker").sticky({ topSpacing: 0, center:true});
    });
  </script>

</head>
<body>


  <div id="wrapper">
    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Header -->

    

    <div class="contents" id="mypage">

      <div class="title-bar">
        <i class="title-icon icon-nife-fork-2"></i>
        マイページ
        <% if @user == current_user %>
          <div class="recipe-edit-btn">
              <%= link_to "プロフィールを編集する", edit_user_registration_path(@user) %>
          </div>
        <% end %>
      </div>

      <div class="mypage-content">

        <div class="author-img-sp-container">
          <div class="inner mykitchen-head"> <%= @user.name %>さん</div>
          <ul >
          <div class="author-img-sp">
              <div class="profile-image" style="background-image: url('<%= @user.image.url %>');">
              </div>
          <!--   <%= profile_image_for @user %> -->
          </div>
          <!-- <a href="#" class="author-img-edit">
            <i class="icon-star"></i>
            あなたの写真を変更する
          </a> -->
          
        </div>

        <h2 class="mt-56 title-bar">
          <i class="icon-chef-hat-spoun title-icon"></i>
          Myキッチン 〜レシピ〜
        </h2>

        <div class="container inner-30 mykitchen-container">
          <div class="inner mykitchen-head"> <%= @user.name %>さんの投稿したレシピ</div>
          <ul >
            <% @recipes.each do |recipe| %>
            <li class="col col-12 inner">
              <div class="menu-title">
                  <%= link_to recipe.name, recipe_path(recipe) %>
              </div>

              <div class="menu-img">
                <!-- <a href="recipe.html">
                  <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
                </a> -->
                 <%= link_to recipe_path(recipe) do %>
                    <div class="recommended-image photo" style="background-image: url('<%= recipe.image.url %>');">
                    </div>
                  <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </div> 

        <!-- <div class="centering">
          <div class="read-more-container">
            <div class="read-more">
              <a href="recipe.html">投稿したレシピをもっと見る<i class="icon-m icon-caret-right"></i></a>
            </div>
          </div>
        </div> -->

        <h2 class="title-bar">
          <i class="icon-chef-hat title-icon"></i>
          Myキッチン 〜献立〜
        </h2>

        <div class="container inner-30 mykitchen-container">
          <div class="inner mykitchen-head"> <%= @user.name %>さんの投稿した献立</div>
          <ul >
            <% @menus.each do |menu| %>
            <li class="col col-12 inner">
              <div class="menu-title">
                <a href="menu.html">
                  <%= link_to menu.name, menu_path(menu) %>
                </a>
              </div>

              <div class="menu-img">
                <!-- <a href="menu.html">
                  <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
                </a> -->
                 
                  <%= link_to menu_path(menu) do %>
                    <div class="recommended-image photo" style="background-image: url('<%= menu.image.url %>');">
                    </div>
                  <% end %>
              </div>
            </li>
            <% end %>
<!-- 
            <li class="col col-12 inner">
              <div class="menu-title">
                <a href="menu.html">
                  かりかりジャコと小さなキャベツのアンチョビオリーブソテー
                </a>
              </div>
              <div class="menu-img">
                <a href="menu.html">
                  <img src="images/mypage-recipe-2.jpg" alt="" class="photo">
                </a>
              </div>
            </li> -->
          </ul>
        </div> 
<!-- 
        <div class="centering">
          <div class="read-more-container">
            <div class="read-more">
              <a href="menu.html">投稿した献立をもっと見る<i class="icon-m icon-caret-right"></i></a>
            </div>
          </div>
        </div> -->


        <h2 class="title-bar">
          <i class="icon-recipes-1 title-icon"></i>
          つくレポ
        </h2>

        <div class="container inner-30 mykitchen-container repo">
          <div class="inner mykitchen-head"> <%= @user.name %>さんが投稿したつくレポ</div>
          <ul >
            <% @made_reports.each do |made_report|%>
            <li class="col col-12 inner repo">
              <div class="menu-title">
                <!-- <a href="recipe.html">
                  低カロリーチーズのこってりサラダ！ワインといっしょにおいしいよ！
                </a> -->

                <%= made_report.recipe.name %>
              </div>

              <div class="menu-img">
               <!-- <a href="recipe.html">
                <img src="images/mypage-recipe-1.jpg" alt="" class="photo">
                </a> -->
                <div class="recommended-image photo" style="background-image: url('<%= made_report.image.url %>');">
                </div>
              </div>

              <div class="repo-date">
                <p class="repo-data">
                  <%= made_report.message %>
                </p>
                <p class="repo-comment">
                
                </p>
              </div>
            </li>
            <% end %>

    </ul>
  </div> 
<!-- 
  <div class="centering">
    <div class="read-more-container">
      <div class="read-more">
        <a href="#">つくレポをもっと見る<i class="icon-m icon-caret-right"></i></a>
      </div>
    </div>
  </div> -->

  <!-- <div class="centering">
    <div class="button post-repo pc-off">
      <a href="#">
       <i class="title-icon icon-star"></i>
       つくレポを投稿
     </a>
   </div>
 </div> -->


 <div class="tab-switch-container">
  <ul>
    <li class="tab-switch tab-active">
      <a href="#favorite-menu">
        <span class="sub-text">お気に入りの</span><br>レシピ
      </a>
    </li>
    <!-- <li class="tab-switch">
      <a href="#favorite-recipe">
        <span class="sub-text">お気に入りの</span><br>献立
      </a>
    </li> -->
  </ul>
</div>

<div class="inner-30 gutters row favorite-box" id="tab-box">
  <ul class="tab-container favorite-menu-container" id="favorite-recipe">
    <li class="col col-8 inner favorite-menu">
      <div class="menu-title">
        <a href="#">
          献立タイトル
        </a>
      </div>

      <div class="menu-img">
        <img src="images/menu-1.jpg" class="photo">
      </div>

      <ul class="menu-list">
        <li>
          <img src="images/menu-main-icon.png" alt="" class="menu-list-icon">
          <a href="#">
            ゴロゴロお肉のメキシカンスープ
          </a>
        </li>
        <li>
          <img src="images/menu-sub-icon.png" alt="" class="menu-list-icon">
          <a href="#">
            芽キャベツのアンチョビオリーブパスタ
          </a>
        </li>
        <li>
          <img src="images/menu-sub-icon.png" alt="" class="menu-list-icon">
          <a href="#">
            パクチーの香草サラダ
          </a>
        </li>
        <li class="author">
          <a href="author-name">by つくったひと</a>
        </li>
      </ul>
    </li>
 
  </ul>


  <ul class="tab-container favorite-menu-container" id="favorite-menu">
    <% @favorite_recipes.each do |favorite_recipe|%>
    <li class="col col-8 inner favorite-menu" style="margin-left: 0">
      <div class="menu-title">
        <!--  <a href="#"> 
        </a> -->
        <%= link_to favorite_recipe.name, recipe_path(favorite_recipe) %>
      </div>

      <div class="menu-img">
        <%= link_to recipe_path(favorite_recipe) do %>
          <div class="recommended-image photo" style="background-image: url('<%= favorite_recipe.image.url %>');">
          </div>
        <% end %>
      </div>
    </li>
    <% end %>
   

  </ul>

 <!--  <div class="read-more-accordion pc-off">
    <a href="#" class="is-toggle-switch">
      もっと見る
      <span class="accordion-arrow">
        <i class="icon-m orange icon-circle-right"></i>
      </span>
    </a>
  </div> -->

</div>
</div>


</div><!-- contents end-->
</div><!-- wrapper end-->

<!-- Footer -->
<%= render 'layouts/footer' %>
<!-- Footer -->


<!-- ログイン登録用のモーダル -->
<%= render 'layouts/login' %>


<!-- サイドバー -->
<%= render 'layouts/sidebar' %>

