<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>

</head>
<body>
  <div id="wrapper">
    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Header -->

    <div class="contents" id="nuturition-page">

      <div class="nuturition-container">
        <h2 class="title-bar">
          <i class="title-icon icon-chef-hat"></i>
          Dnoteで活躍する栄養士
        </h2>

        <div class="gutters row container inner-30">
          <div class="col col-8 nuturition-img-container">
           
              <!-- <img src="images/nuturition/nuturition-1.jpg" alt="" class="photo"> -->
              <%= image_tag("images/nuturition-1.jpg" ,:class => "photo")%>
           
          </div>

          <div class="col col-16 nuturition-date">
            <div class="nuturition-name">
              <!-- <a href="nuturition.html"> -->
                石原さとみ
              <!-- </a> -->
            </div>
            <p class="nuturition-description sp-off">
              2002年、第27回ホリプロタレントスカウトキャラバン『ピュアガール2002』
              グランプリ受賞を経て本格的に女優活動を始めた。同オーデション参加以前にも、
              現在の所属芸能事務所であるホリプロ系列の俳優養成所であるホリプロ・
              インプルーブメント・アカデミーに所属（5期生）し、石神 国子（いしがみ くにこ）
              名義で映画『ホ・ギ・ラ・ラ』『船を降りたら彼女の島』へ出演しており、
              芸能活動の経験がある（公式には"石原さとみ名義"で初出演した
              『わたしのグランパ』をもってデビュー作品としている）。
              <br>
              <br>
              2003年、『きみはペット』（TBS系）の澁澤ルミ役で連続ドラマ初出演。<br>
              2005年、NHK大河ドラマ『義経』に静御前役として出演。<br>
              2006年、『Ns'あおい』（フジテレビ系）で民放連続ドラマ初主演。<br>
              <p/>

            </div>
          </div>
        </div> 


        <div class="gutters row">
          <div class="col col-16 container-full">
            <div class="top-border-red " id="">
              <h4 class="column-head sp-off">コラム全文</h4>
            </div>

            <div class="inner-30 column-title-large">
              糖尿病で気をつけなければいけない事って？
            </div>

            <div class="inner-30 main-column-content">
              <div class="column-sub-title">
                大事なのはバランスのとれた食事
              </div>

              <p class="column-text">
                健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。
                そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、
                努力を開始して欲しい！というのが先回の要点でした。
                覚えておいてほしいポイントは…健康診断で「糖尿病のケがありますね」
                と指摘される人、多いですよね。
                <br>
                <br>
                ■そんなときは、大いに危機感を
                持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが
                先回の要点でした。
                覚えておいてほしいポイント健康診断で「糖尿病のケがありますね」と
                指摘される人、多いですよね。
                そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、
                努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしい
                ポイントは健康診断で「糖尿病のケがありますね」と指摘される人、
                多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない
                決意のもと、努力を開始して欲しい！というのが前回の要点でした。
                <br>
                <br>
                ■健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。
                そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、
                努力を開始して欲しい！というのが先回の要点でした。
                覚えておいてほしいポイントは健康診断で「糖尿病のケがありますね」
                と指摘される人、多いですよね。そんなときは、大いに危機感を持って、
                絶対糖尿病にならない決意のもと、努力を開始して欲しい！
                というのが先回の要点でした。覚えておいてほしいポイントは
              </p>
            </div>

            <!-- <ul class="column-footer">
              <li class="column-link prev-column">
                <a href="column.html"><i class="icon-s icon-triangle-left red"></i>前のコラム</a>
              </li>

              <li class="column-link index-column">
                <a href="#">コラム一覧へ</a>
              </li>

              <li class="column-link next-column">
                <a href="column.html">次のコラム<i class="icon-s icon-triangle-right red"></i></a>
              </li>
            </ul> -->
          </div>

          <div class="col col-8 container-full top-border-red">
            <h4 class="title-bar pc-off">
             <i class="title-icon icon-l icon-file-text-o "></i>
             栄養士コラム
           </h4>
           <h4 class="column-head sp-off">コラム</h4>

           <ul class="column-container">
            <li class="column">
              <div class="column-title">
                <a href="column.html">
                  糖尿病で気をつけなければいけない事って？
                </a>
              </div>

              <div class="inner-30">
                <div class="column-sub-title">
                  大事なのはバランスのとれた食事
                </div>

                <p class="column-text">
                  健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
                </p>
              </div>


              <div class="all-show">
                <!-- <a href="column.html">
                  全部見る
                </a> -->
              </div>
            </li>

            <li class="column">
              <div class="column-title">
                <a href="column.html">
                  糖尿病の食事？
                </a>
              </div>

              <div class="inner-30">
                <div class="column-sub-title">
                  大事なのはバランスのとれた食事
                </div>

                <p class="column-text">
                  健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
                </p>
              </div>


              <div class="all-show">
               <!-- <a href="column.html">
                全部見る
              </a> -->
            </div>
          </li>

          <li class="column">
            <div class="column-title">
              <a href="column.html">
                糖質制限？カロリー？
              </a>
            </div>

            <div class="inner-30">
              <div class="column-sub-title">
                大事なのはバランスのとれた食事
              </div>

              <p class="column-text">
                健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
              </p>
            </div>


            <div class="all-show">
              <!-- <a href="column.html">
                全部見る
              </a> -->
            </div>
          </li>
        </ul>
      </div>

    </div>


    <div class="read-more-container pc-off">
      <!-- <div class="read-more">
        <a href="column.html">栄養士コラムをもっと見る</a>
      </div> -->
    </div>

  </div><!-- contents end-->
</div><!-- wrapper end-->


<!-- Footer -->
<%= render 'layouts/footer' %>
<!-- Footer -->


<!-- ログイン登録用のモーダル -->
 <%= render 'layouts/login' %>
<!-- サイドバー -->
  <%= render 'layouts/sidebar' %>


</body>
</html>
