<h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>コラムの投稿</h2>

<%= form_for(@column) do |f| %>
<div class="container-full inner-30">

<div class=" gutters row">
  <div class="col col-20">
    <div class="edit-recipe-title-container">
      <div class="sp-head "> <i class="icon-s icon-pencil"></i>コラムの表題</div>
      <div class="edit-area imgInput">
        <%= f.text_field :title, class:'edit-field edit-recipe-title', placeholder:'コラムの表題を入力', rows:'2' %>
      </div>
    </div>
  </div>
</div>



<div class=" gutters row">
  <div class="col col-20">
    <div class="edit-recipe-title-container">
      <div class="sp-head edit-label">
        <i class="icon-s icon-play"></i>&nbsp;コラムの内容
      </div>
      <div class="field">
        <div class="fields">
          <ul class="inner-30 edit-ingredient-container">
            <textarea name="body"></textarea>
            <script>
                CKEDITOR.replace( 'body' );
            </script>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :permission, :value => 1 %>

<div class="centering mt-56 create-recipe-btn-container" >     
  <%= f.submit "コラムの掲載を申請する", class: 'create-recipe-btn' %>
</div>



</div>
<% end %>

