    <div class="contents" id="nuturition-page">

      <div class="nuturition-container">
        <h2 class="title-bar">
          <i class="title-icon icon-chef-hat"></i>
          Dnoteで活躍する栄養士
        </h2>

        <div class="gutters row container inner-30">
          <div class="col col-8 nuturition-img-container">
            <!-- <a href="nuturition.html">
              <img src="images/nuturition/nuturition-1.jpg" alt="" class="photo">
            </a> -->
            <div class="recommended-image photo" style="background-image: url('<%= @column.user.image.url(:original) %>');">
            </div>
          </div>

          <div class="col col-16 nuturition-date">
            <div class="nuturition-name">
              <%= @column.user.name %>
            </div>
            <p class="nuturition-description sp-off">
              <%= @column.user.nutritionist_description %>
            <p/>
          </div>
        </div>
      </div> 


        <div class="gutters row">
          <div class="col col-17 container-full">
            <div class="top-border-red " id="">
              <h4 class="column-head sp-off">コラム全文</h4>
            </div>

            <div class="inner-30 column-title-large">
              <%= @column.title %>
            </div>

            <div class="inner-30 main-column-content">
              <!-- <div class="column-sub-title">
                大事なのはバランスのとれた食事
              </div> -->

              <p class="column-text">
                <font size="3">
                <%= raw @column.body %>
                </font>
              </p>
            </div>

            <ul class="column-footer">
              <!-- <li class="column-link prev-column">
                <a href="column.html"><i class="icon-s icon-triangle-left red"></i>前のコラム</a>
              </li> -->

              <!-- <li class="column-link index-column">
                <a href="#">コラム一覧へ</a>
              </li> -->
              <%= link_to 'コラム一覧へ' ,columns_path %>
              <%= link_to '管理栄養士一覧へ' ,users_path %>

              <!-- <li class="column-link next-column">
                <a href="column.html">次のコラム<i class="icon-s icon-triangle-right red"></i></a>
              </li> -->
            </ul>
          </div>

          <!-- <div class="col col-8 container-full top-border-red">
            <h4 class="title-bar pc-off">
             <i class="title-icon icon-l icon-file-text-o "></i>
             栄養士コラム
           </h4>
           <h4 class="column-head sp-off">コラム</h4>

           <ul class="column-container">
            <li class="column">
              <div class="column-title">
                <a href="column.html">
                  糖尿病で気をつけなければいけない事って？
                </a>
              </div>

              <div class="inner-30">
                <div class="column-sub-title">
                  大事なのはバランスのとれた食事
                </div>

                <p class="column-text">
                  健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
                </p>
              </div>


              <div class="all-show">
                <a href="column.html">
                  全部見る
                </a>
              </div>
            </li>

            <li class="column">
              <div class="column-title">
                <a href="column.html">
                  糖尿病の食事？
                </a>
              </div>

              <div class="inner-30">
                <div class="column-sub-title">
                  大事なのはバランスのとれた食事
                </div>

                <p class="column-text">
                  健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
                </p>
              </div>


              <div class="all-show">
               <a href="column.html">
                全部見る
              </a>
            </div>
          </li>

          <li class="column">
            <div class="column-title">
              <a href="column.html">
                糖質制限？カロリー？
              </a>
            </div>

            <div class="inner-30">
              <div class="column-sub-title">
                大事なのはバランスのとれた食事
              </div>

              <p class="column-text">
                健康診断で「糖尿病のケがありますね」と指摘される人、多いですよね。そんなときは、大いに危機感を持って、絶対糖尿病にならない決意のもと、努力を開始して欲しい！というのが先回の要点でした。覚えておいてほしいポイントは…
              </p>
            </div>


            <div class="all-show">
              <a href="column.html">
                全部見る
              </a>
            </div>
          </li>
        </ul>
      </div> -->

    </div>


   <!--  <div class="read-more-container pc-off">
      <div class="read-more">
        <%= link_to 'コラム一覧へ' ,columns_path %>
        <%= link_to '管理栄養士一覧へ' ,users_path %>
      </div>
    </div>
 -->
  </div><!-- contents end-->
