
<div class="radio-button">
 <label><%= category_selects_form.check_box :category, "1" %> カロリー表示あり</label>
 <label><%= category_selects_form.check_box :category, "2" %>糖質制限食 </label>
 <label><%= category_selects_form.check_box :category, "3" %>HbA1c、血糖値の安定 </label>
 <label><%= category_selects_form.check_box :category, "4" %>味に自信あり </label>
 <label><%= category_selects_form.check_box :category, "5" %>すぐできるメニュー</label>
</div>
