<div class="contents">

<h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>お問い合わせ</h2>

<%= form_for @contact, :url => {:action => 'create'} do |f| %>


  <% if @contact.errors.any? %>
   <div id="error_explanation">
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="container-full inner-30">
   <div class="container-full inner-30">

    dnoteをご利用頂きましてありがとうございます。
    ご不明点やご意見がございましたら、こちらよりご連絡ください。


    <div class=" gutters row">
      <div class="col col-20">
        <div class="edit-recipe-title-container">
          <div class="sp-head "> <i class="icon-s icon-pencil"></i>メールアドレス</div>
          <div class="edit-area">  
            <%= f.text_field :email, class:'edit-field edit-recipe-title', placeholder:'メールアドレスを入力', rows:'2' %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="gutters row pb-30 pt-30">
      <div class="col col-20">
        <div class="edit-recipe-title-container">
          <div class="sp-head "> <i class="icon-s icon-pencil"></i>メッセージ</div>
          <div class="edit-area"　style="height:100px;">  
            <%= f.text_area :body, class:'edit-field', rows:'2', cols:'30' %>
          </div>
        </div>
      </div>
    </div>  


  <div class="actions centering mt-56 create-recipe-btn-container" >       
    <%= f.submit "メッセージを送る", class: 'create-recipe-btn' %>
  </div>


  </div>
  </div>
</div>
<% end %>

