<%= form_for(@made_report) do |f| %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :message, 'メッセージ' %><br>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit "つくレポを投稿" %>
  </div>

<% end %>

