 <!-- フッター -->
 <footer id="footer">
    <div class="full pc-footer footer-container">
      <div class="footer-logo">
        <!-- <img src="/assets/logo.png" alt="Dnote" class="photo"> -->
        <%= image_tag("logo.png" ,:alt => "Dnote", :class => "photo") %>
      </div>

      <div class="footer-head">
        症状で探す
      </div>

      <ul class="footer-category-list">
        <li class="category-item"> 
          <%= link_to 'カロリー表示あり', calories_path %>
        </li>
        <li class="category-item">
          <%= link_to '糖質制限食', sugars_path %>  
        </li>
        <li class="category-item">
          <%= link_to 'HbA1c、血糖値の安定', stabilities_path %>   
        </li>
        <li class="category-item">
          <%= link_to '味に自信あり', goodtastes_path %>     
        </li>
        <li class="category-item">
          <%= link_to 'すぐできるメニュー', easies_path %>  
        </li>
      </ul>

      <!-- <ul class="social-list">
        <li>
          <a href="#">
            <img src="/assets/facebook.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/twitter.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/google.png">

          </a>
        </li>
      </ul> -->

      <ul class="site-menu">
        <li>
          <a href="#">お問い合わせ</a>
        </li>
        <li>
          <a href="#">利用規約</a>
        </li>
        <li>
          <a href="#">運営会社</a>
        </li>
        <li>
          <a href="#">個人情報保護方針</a>
        </li>
        <li>
          <a href="#">情報セキュリティ基本方針</a>
        </li>
      </ul>
    </div>


    <div class="sp-footer footer-container">
      <div class="footer-logo">
        <!-- <img src="/assets/logo.png" alt="Dnote" class="photo"> -->
        <%= image_tag("logo.png", :alt => "Dnote", :class => "photo")%>
      </div>

      <ul class="footer-menu">
        <li>
          <%= link_to "会社概要", company_path %>
        </li>
        <li>
          <a href="#">プライバシーポリシー</a>
        </li>
        <li>
          <a href="#">facebook</a>
        </li>
        <li>
          <a href="#">twitter</a>
        </li>
      </ul>
    </div>
  </footer>