 <!-- フッター -->
 <footer id="footer">
  <div class="full pc-footer footer-container">
    <div class="footer-logo">
      <!-- <img src="/assets/logo.png" alt="Dnote" class="photo"> -->
      <%= image_tag("logo.png" ,:alt => "Dnote", :class => "photo") %>
    </div>

    <div class="footer-head">
      症状で探す
    </div>

    <ul class="footer-category-list">
      <li class="category-item"> 
        <%= link_to 'カロリー表示あり', calories_path %>
      </li>
      <% Recipe.categories.each do |key, value| %>
      <li class="category-item">
        <%= link_to value, categories_path(:r_category => key)%>
      </li>
      <% end %>
    </ul>

      <!-- <ul class="social-list">
        <li>
          <a href="#">
            <img src="/assets/facebook.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/twitter.png">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/google.png">

          </a>
        </li>
      </ul> -->

      <ul class="site-menu">
        <li>
          <a href="#">利用規約</a>
        </li>
        <li>
          <%= link_to "会社概要", company_path %>
        </li>
        <li>
          <%= link_to "情報セキュリティ基本方針", security_information_path %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", privacy_policy_path  %>
        </li>
      </ul>
    </div>


    <div class="sp-footer footer-container">
      <div class="footer-logo">
        <!-- <img src="/assets/logo.png" alt="Dnote" class="photo"> -->
        <%= image_tag("logo.png", :alt => "Dnote", :class => "photo")%>
      </div>

      <ul class="footer-menu">
        <li>
          <a href="#">利用規約</a>
        </li>
        <li>
          <%= link_to "会社概要", company_path %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", privacy_policy_path  %>
          
        </li>
        <li>
          <%= link_to "情報セキュリティ基本方針", security_information_path %>
        </li>
        <li>
          <%= link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook), class:'facebook-btn' %>
        </li>
        <li>
          <%= link_to "Twitterでログイン",  user_omniauth_authorize_path(:twitter), class:'twitter_btn' %>
        </li>
      </ul>
    </div>
  </footer>