<!-- ヘッダー -->
<header id="header">
  <div class="header-container pc-header clear">
    <div class="header-inner clear">
      <div class="logo-container">
        <h1>
          <%= link_to image_tag("logo-small.png"), about_path, class: "logo", alt: "dnote" %>
        </h1>
      </div>

      <ul class="search-container">
        <li class="keyword-search">
          <%= form_tag recipes_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
            <p>
              <%= text_field_tag :search, params[:search] , class: "search-bar"%>
              <%= submit_tag "S", class: 'search-submit' %>
            </p>
          <% end %>
        </li>

        <li class="category-search-container">
          <a href="#is-category-dropdown-box" class="category-search" id="is-category-dropdown-switch">
            カテゴリから探す<i class="icon-s icon-play"></i>
          </a>
              
          <ul class="category-list" id="is-category-dropdown-box">
            <li class="category-item">
              <%= link_to 'カロリー表示あり', calories_path %>
            </li>
            <li class="category-item">
              <%= link_to '糖質制限食', sugars_path %> 
            </li>
            <li class="category-item">
              <%= link_to 'HbA1c、血糖値の安定', stabilities_path %>   
            </li>
            <li class="category-item">
              <%= link_to '味に自信あり', goodtastes_path %>
            </li>
            <li class="category-item">
              <%= link_to 'すぐできるメニュー', easies_path %>  
            </li>
          </ul>
        </li>
      </ul>
          <ul class="user-menu-container">
            <li class="signup">
              <a href="#modal" > 
                <i class="icon-new-account icon-s"></i>
                 <% if user_signed_in? %>
                    ログアウト<span style="font-weight:normal;">&nbsp;/&nbsp;</span>マイページ
                 <% else %>
                    新規登録<span style="font-weight:normal;">&nbsp;/&nbsp;</span>ログイン
                 <% end %>
              </a>
            </li>

            <% if user_signed_in? %>
              <li class="signup">
                <%= link_to "レシピをのせる", new_recipe_path, class:'icon-edit post-recipe-text' %>
              </li>
              <li class="signup">
                <%= link_to "献立をのせる", new_menu_path, class:'icon-edit post-recipe-text' %>
              </li>
            <% else %>
              <li class="signup">
                <%= link_to "レシピをのせる", new_user_registration_path, class:'icon-edit post-recipe-text' %>
              </li>
              <li class="signup">
                <%= link_to "献立をのせる", new_user_registration_path, class:'icon-edit post-recipe-text' %>
              </li>
            <% end %>
          </ul>
    </div>
  </div>

      <!--  SmartphoneHeader-->
      <div class="header-container sp-header clear">
        <div class="header-inner clear">
          <div class="menu-btn" id="menu-btn">

          </div>

          <div class="sp-logo-container">
            <!-- <a href="index.html"> -->
              <!-- <img src="/assets/logo.png" alt="dnote" class="logo"> -->
              <%= link_to image_tag("logo.png"), about_path, class: "logo", alt: "dnote" %>
            <!-- </a> -->
          </div>

          <div class="account-btn">
            <a href="#modal">
              <i class="icon-login"></i><br>
              <% if user_signed_in? %>
                Myページ
              <% else %>
                ログイン
              <% end %>
            </a> 
          </div>
        </div>
      </div>
    </header>