<div class="signup-modal remodal" data-remodal-id="modal">

  <div class="gutters row">
    <% if user_signed_in? %>
    <div class="col col-12 modal-inner">
      <h4 class="modal-title"> ログアウト</h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'button-b'  %>
    </div>
    <% else %>

    <div class="col col-12 modal-inner">
      <h4 class="modal-title"> ログイン</h4>
      <p class="modal-head">
        <i class="icon-circle"></i>
        すでにユーザー登録されている方
      </p>

      <div>
        <%= link_to "ログイン", new_user_session_path , class:"button-b" %>
      </div>

      
      <div class="facebook-btn-container">
          <!-- <a href="" class="facebook-btn">
            <i class="icon-facebook-square"></i>
            Facebookでログイン
          </a> -->
          <%= link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook), class:'facebook-btn' %>
          <%= link_to "Twitterでログイン",  user_omniauth_authorize_path(:twitter), class:'twitter_btn' %>
        </div>
      </div>
      <% end %>


      <% if user_signed_in? && current_user.permission == nil %>
      <div class="col col-12 modal-inner">
        <h4 class="modal-title">マイページ</h4>
        <%= link_to "マイページへ移動", current_user, class:'button-b' %>
      </div>
      <% elsif user_signed_in? && current_user.permission != nil %>
      <div class="col col-12 modal-inner">
        <h4 class="modal-title">マイページ</h4>
        <%= link_to "マイページへ移動", current_user, class:'button-b' %>
      </div>
      <% else %>
      <div class="col col-12 modal-inner">
        <h4 class="modal-title">新規登録</h4>
        <p class="modal-head"><i class="icon-circle"></i>ユーザー登録されていない方</p>
        <div class="button-container">
          <%= link_to "ユーザー登録をする", new_user_registration_path(:u_n => 1), class:'button-b' %>
        </div>
        <div class="button-container">
          <%= link_to "管理栄養士のユーザー登録をする",new_user_registration_path(:u_n => 0), class:'button-b' %>
        </div>

        <div class="facebook-btn-container">
            <!-- <a href="" class="facebook-btn">
            <i class="icon-facebook-square"></i>
            Facebookで新規登録
          </a> -->
          <%= link_to "Facebookで新規登録", user_omniauth_authorize_path(:facebook), class:'facebook-btn' %>
          <%= link_to "Twitterで新規登録",  user_omniauth_authorize_path(:twitter), class:'twitter_btn' %>
        </div>
        
      </div>
      <% end %>
      
    </div>
  </div>