<div class="nuturition-container container-full row">
  <h2 class="title-bar"><i class="title-icon icon-nife-fork"></i>管理栄養士によるおすすめ献立</h2>

  <div class="col col-11 pickup-menu-nuturition">
    <div class="menu-img">
      <%= link_to menu_path(@nurtrition_menu) do %>
        <div class="recommended-image" style="width:420px;background-image: url('<%= @nurtrition_menu.image.url(:original) %>');">
        </div>
      <% end %>        
    </div>
    <div class="nuturition gutters row">
      <div class="col col-6 col-xs col-xs-6">
        <div class="nuturition-img">
        </div>
      </div>
      <div class="col col-17 col-xs col-xs-17">
        <div class="menu-title">
          <%= link_to @nurtrition_menu.name, menu_path(@nurtrition_menu)%>
        </div>
        <div class="nuturition-name">
          <%=  link_to @nurtrition_menu.user.name, user_path(@nurtrition_menu.user)%>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-11 pickup-menu-nuturition">
    <div class="menu-img">
      <%= link_to menu_path(@nurtrition_menu2) do %>
        <div class="recommended-image" style="width:420px;background-image: url('<%= @nurtrition_menu2.image.url(:original) %>');">
        </div>
      <% end %>        
    </div>
    <div class="nuturition gutters row">
      <div class="col col-6 col-xs col-xs-6">
        <div class="nuturition-img">
        </div>
      </div>
      <div class="col col-17 col-xs col-xs-17">
        <div class="menu-title">
          <%= link_to @nurtrition_menu2.name, menu_path(@nurtrition_menu2)%>
        </div>
        <div class="nuturition-name">
          <%=  link_to @nurtrition_menu2.user.name, user_path(@nurtrition_menu2.user)%>
        </div>
      </div>
    </div>
  </div>



      </div>