<div class="nuturition-container container-full row">
  <h2 class="title-bar"><i class="title-icon icon-nife-fork"></i>管理栄養士によるおすすめ献立</h2>

  <div class="col col-11 pickup-menu-nuturition">
    <div class="menu-img">
            <!-- <a href="recipe.html">
              <img src="/assets/nuturition-menu-1.jpg" alt="" class="photo">
            </a> -->
            <%= link_to menu_path(@nurtrition_menu) do %>
            <div class="recommended-image" style="background-image: url('<%= @nurtrition_menu.image.url(:original) %>');">
            </div>
            <% end %>
            
          </div>
          <div class="nuturition gutters row">
            <div class="col col-6 col-xs col-xs-6">
              <div class="nuturition-img">
                <!-- <a href="nuturition.html">
                  <img src="/assets/nuturition/nuturition-1.jpg" alt="" class="photo">
                </a> -->
                
              </div>
            </div>
            <div class="col col-17 col-xs col-xs-17">
              <div class="menu-title">
                <!-- <a href="recipe.html">タイムとレモンでさっぱり☆ふんわり鶏肉の絶品パエリア</a> -->
                <%= link_to @nurtrition_menu.name, menu_path(@nurtrition_menu)%>
              </div>
              <div class="nuturition-name">
                星野真里
              </div>
            </div>
          </div>
        </div>
        

       <!--  <div class="col col-11 pickup-menu-nuturition pc-off">
          <div class="menu-img">
            <a href="recipe.html">
              <img src="/assets/nuturition-menu-1.jpg" alt="" class="photo">
            </a>
          </div>
          <div class="nuturition gutters row">
            <div class="col col-6 col-xs col-xs-6">
              <div class="nuturition-img">
                <a href="nuturition.html">
                  <img src="/assets/nuturition/nuturition-1.jpg" alt="" class="photo">
                </a>
              </div>
            </div>
            <div class="col col-17 col-xs col-xs-17">
              <div class="menu-title">
                <a href="recipe.html">タイムとレモンでさっぱり☆ふんわり鶏肉の絶品パエリア</a>
              </div>
              <div class="nuturition-name">
                  星野真里
              </div>
            </div>
          </div>
        </div> -->

        <div class="col col-13 nuturition-column-container sp-off">
          <div class=" gutters row column-title-bar">
            <p class="vertical pull-left">コラム</p>
            <div class="col col-4 nuturition-img">
              <!-- <img src="/assets/nuturition/nuturition-1.jpg" alt="" class="photo"> -->
              <div class="recommended-image photo" style="background-image: url('<%= @column.nutritionist.image.url(:original) %>');height:70px;">
              </div>
            </div>

            <div class="col col-18">
              <div class="author-name">
                <p><%= @column.nutritionist.name %></p>
              </div>
              <div class="column-title">
                <%= link_to @column.title, @column %>
                <!-- <a href="column.html">糖尿病で気をつけなければいけない事って？</a> -->
              </div>
            </div>
          </div>

          <div class="column-content">
            <!-- <div class="column-heading">
              大事なのはバランスのとれた食事
            </div> -->
            <p class="column-text">
              <%= @column.body %>
            </p>
            <!-- <div class="column-heading">
              なんとしても習慣化！！
            </div>
            <p class="column-text">
              ・「まだ予備軍」と安心せず「もう正常じゃない」と危機感を抱くべし。<br>
              ・糖尿病は生活の中で徐々につくられる。予備軍から正規軍への<br>
              　昇格を回避するには、とにかく生活習慣の是正が大事。<br>
              ・最大の敵は「肥満」。<br>
              ・規則正しい生活は、肥満を防ぎ、糖尿病を遠ざける<br>

              基本は、食生活を見直し、運動する習慣をつけることです。<br>
            </p> -->
          </div>
        </div>  
      </div>