<nav id="main-nav">
    <div class="sidebar" id="slidemenu_contents">
      <div class="gutters row sidemenu-account" id="slidemenu_list">
        <div class="col col-xs col-xs-8">
          <div class="user-name">
            <% if user_signed_in? %>
              <%= current_user.name %>さん
            <% else %>
              ゲストさん
            <% end %> 
          </div>
          <div class="account-img">
            <% if user_signed_in? %>
              <%= image_tag(current_user.image)%>
            <% else %>
              <i class="icon-user"></i>
            <% end %>
          </div>
        </div>

        <div class="col col-xs col-xs-16 centering">
          <div class="button sidemenu-post-recipe">
            <!-- <a href="create-recipe.html"> -->
            <i class="icon-edit"></i>
            <% if user_signed_in? %>
              <%= link_to "レシピをのせる", new_recipe_path %>
            <% else %>
              <%= link_to "レシピをのせる", new_user_registration_path %>
            <% end %>
            <!-- </a> -->
          </div>
          <div class="line"></div>
          <div class="button sidemenu-post-repo">
            <!-- <a href="#"> -->
            <i class="icon-recipes-1"></i>
            <% if user_signed_in? %>
              <%= link_to "献立を投稿", new_menu_path %>
            <% else %>
              <%= link_to "献立を投稿", new_user_registration_path %>
            <% end %>
           <!--  </a> -->
          </div>
        </div>
      </div>

      <div class="sidemenu-search-container">
        <form action="#">
          <input type="text" class="search-bar">
          <button class="search-submit"><i class="icon-search icon-m"></i></button>
        </form>
      </div>

      <ul class="sidemenu" id="sidemenu">
        <li class="sidemenu-item menu-sub-title">
          <i class="icon-list-ul"></i>
          カテゴリから探す
        </li>

        <li class="sidemenu-item">
          <!-- <a href="menu-recipe.html"> -->
           <%= link_to "カロリー表示あり", calories_path %>
         <!-- </a>  -->   
       </li>
       <li class="sidemenu-item">
        <!-- <a href="menu-recipe.html"> -->
         <%= link_to "糖質制限食", sugars_path %>
        <!-- </a>    --> 
      </li>
      <li class="sidemenu-item">
        <!-- <a href="menu-recipe.html"> -->
         <%= link_to "HbA1c、血糖値の安定", stabilities_path %>
       <!-- </a>    --> 
     </li>
     <li class="sidemenu-item">
      <!-- <a href="menu-recipe.html"> -->
       <%= link_to "味に自信あり", goodtastes_path %>
     <!-- </a>     -->
   </li>
   <li class="sidemenu-item">
    <!-- <a href="menu-recipe.html"> -->
      <%= link_to "すぐできるメニュー", easies_path %>
    <!-- </a>     -->
  </li>

  <li class="sidemenu-item menu-sub-title">
    <i class="icon-cutlery"></i>
    レシピカテゴリ
  </li>

  <!-- ひとつのカテゴリ -->
  <!-- <li class="sidemenu-item menu-accordion-container">
    <ul>
      <li class="menu-accordion">
        <a href="menu-recipe.html">
          野菜のおかず
        </a>
      </li>

      <li class="menu-accordion-content">
        <ul>
          <li>
            <a href="menu-recipe.html">
              さつまいも
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
              なす
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
             かぼちゃ
           </a>
         </li>
       </ul>
     </li>
   </ul>
 </li> -->
 <!-- ひとつのカテゴリ -->

 <!-- ひとつのカテゴリ -->
 <li >
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "お肉のおかず", meets_path %>
      <!-- </a> -->
  <!--   </li> -->

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li>
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "魚介のおかず", fishes_path %>
      <!-- </a> -->
    <!-- </li> -->

   <!--  <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li>
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
       <%= link_to "ご飯物", rices_path %>
     <!-- </a> -->
   <!-- </li> -->

   <!-- <li class="menu-accordion-content">
    <ul>
      <li>
        <a href="menu-recipe.html">
          さつまいも
        </a>
      </li>
      <li>
        <a href="menu-recipe.html">
          なす
        </a>
      </li>
      <li>
        <a href="menu-recipe.html">
         かぼちゃ
       </a>
     </li>
   </ul>
 </li> -->
<!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li >
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "パスタ・グラタン", pastas_path %>
      <!-- </a> -->
    <!-- </li> -->

   <!--  <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li >
 <!--  <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "麺", noodles_path %>
      <!-- </a> -->
    <!-- </li> -->

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li>
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "サラダ", salads_path %>
      <!-- </a> -->
    <!-- </li> -->

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li >
  <!-- <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "スープ・汁物", soups_path %>
      <!-- </a> -->
    <!-- </li> -->

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li >
 <!--  <ul>
    <li class="menu-accordion"> -->
      <!-- <a href="menu-recipe.html"> -->
        <%= link_to "お弁当", boxes_path %>
  <!--     </a>
    </li> -->

    <!-- <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li> -->
 <!-- </ul> -->
</li>
<!-- ひとつのカテゴリ -->
</ul>

</div>
</nav>