<div class="pickup-menu-today-container full"> 
  <h2 class="title-bar"><i class="title-icon icon-star"></i>本日のおすすめ献立</h2>

  <div class="pickup-menu container gutters row">
    <div class="pickup-menu-info  col col-9">
      <div class="menu-title-large">
        <%= link_to @todays_menu.name, menu_path(@todays_menu)%>
      </div>

      <div class="menu-comment sp-off">
        <%= @todays_menu.point %>
      </div>

      <ul class="menu-list sp-off">
        <li>
          <!--  <img src="/assets/menu-main-icon.png" alt="" class="menu-list-icon"> -->
          <%= image_tag("menu-main-icon.png", :alt => "", :class => "menu-list-icon")%>
               <!-- <a href="recipe.html">
               ゴロゴロお肉のメキシカンスープ</a> -->
               <%= link_to @main_recipe.name, recipe_path(@main_recipe) %>
             </li>
             <li>
              <!--  <img src="/assets/menu-main-icon.png" alt="" class="menu-list-icon"> -->
              <%= image_tag("menu-sub-icon.png", :alt => "", :class => "menu-list-icon")%>
               <!-- <a href="recipe.html">
               ゴロゴロお肉のメキシカンスープ</a> -->
               <%= link_to @side1_recipe.name, recipe_path(@side1_recipe) %>
             </li>
             <li>
              <!--  <img src="/assets/menu-main-icon.png" alt="" class="menu-list-icon"> -->
              <%= image_tag("menu-sub-icon.png", :alt => "", :class => "menu-list-icon")%>
               <!-- <a href="recipe.html">
               ゴロゴロお肉のメキシカンスープ</a> -->
               <%= link_to @side2_recipe.name, recipe_path(@side2_recipe) %>
             </li>

             <li class="author">
               by <%= link_to @todays_menu.user.name, user_path(@todays_menu.user) %>
             </li>
           </ul>
           
         </div>

         <div class="pickup-menu-img col col-15">
            <!-- <a href="menu.html">
              <img src="/assets/menu-1.jpg" alt="menu-img" class="photo">
            </a> -->

            <%= link_to menu_path(@todays_menu) do %>
            <div class="recommended-image" style="background-image: url('<%= @todays_menu.image.url(:original) %>');">
            </div>
            <% end %>
            
          </div>
        </div>
      </div>
